
html{
 
  --hello:#c3073f;
  --b:#99aaff;
}
html,body{
  min-height: 100%;
  margin: 0;
  pad: 0;
}
body{
  background: black;
  
  overflow-x: hidden;
}
#root{
 height: 100%;
 width: 100%;
 top:0;
 left:0;
 padding: 0;
 margin: 0;
 position: absolute;
}

/* Sign in box*/
 #Sign_in{
   position: absolute;
   top:20px;
   right: 10px;
   color:white;
   z-index: 996;
   font-size: 20px;
   border: none;
   background: black;
   cursor: pointer;
 }
 #Sign_in:hover{
    border:1px solid white;
    background: white;
    color: black;
    border-radius: 25px;
 }
 #Sign_in_box{
  background: white;
  border: 3px solid black;
  position:absolute;
  min-width: 400px;
  width: 20%;
  max-width: 600px;
  min-height: 400px;
  height:60%;
  max-width: 500px;
  top:110px;
  left: 50%;
  display: none;
  z-index: 1000;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
   #Sign_in_box #Sign_in_Background{
     position: relative;
     width: 50%; 
     height:100px;
   }
    #Sign_in_box #Sign_in_Background img{
      width: 100%;
      height:100%;
      border-radius: 50%;
    }
    #Sign_in_box #Sign_in_Background h2{
      position:absolute;
      top:50%;
      left: 50%;
      transform: translateX(-50%)  translateY(-50%);
      color:white;
      padding: 0;
      margin: 0;
      font-family: 'Brush Script MT';
    }
   #Sign_in_box .Sign_in{
    height:30px;
    width: 70%;
    box-sizing: border-box;
   }
    #Sign_in_box button.Sign_in{
    cursor: pointer;
    }
   #Sign_in_box .Signup_ForgetPassword{
    height:30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
    #Sign_in_box .Signup_ForgetPassword span{
      cursor: pointer;
    }


/* Sign up box */
  #Sign_up{
      position: absolute;
      top:10px;
      right: 10px;
      color:white;
      z-index: 997;
      font-size: 20px;
      border: none;
      background: black;
      cursor: pointer;
  }
    #Sign_up:hover{
       border:1px solid white;
       background: white;
       color: black;
       border-radius: 25px;
    }
    #Sign_up_box{
     background: white;
     border: 3px solid black;
     position:absolute;
     min-width: 400px;
     width: 20%;
     max-width: 600px;
     min-height: 400px;
     height:60%;
     max-width: 500px;
     top:110px;
     left: 50%;
     display: none;
     z-index: 1000;
     transform: translateX(-50%);
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
    }
      #Sign_up_box #Sign_up_Background{
        position: relative;
        width: 50%; 
        height:100px;
      }
       #Sign_up_box #Sign_up_Background img{
         width: 100%;
         height:100%;
         border-radius: 50%;
       }
       #Sign_up_box #Sign_up_Background h2{
         position:absolute;
         top:50%;
         left: 50%;
         transform: translateX(-50%)  translateY(-50%);
         color:white;
         padding: 0;
         margin: 0;
         font-family: 'Brush Script MT';
       }
      #Sign_up_box .Sign_up{
       height:30px;
       width: 70%;
       box-sizing: border-box;
      }
       #Sign_up_box button.Sign_up{
       cursor: pointer;
       }
      #Sign_up_box .Sign_in{
       height:30px;
       width: 70%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      }
       #Sign_up_box .Sign_in #Signup_Signin{
         cursor: pointer;
       }



      #Upload_box{
        background: white;
        border: 3px solid black;
        position:absolute;
        min-width: 300px;
        width: 30%;
        max-width: 750px;
        min-height: 500px;
        height:60%;
        max-width: 750px;
        top:110px;
        left: 50%;
        display: none;
        z-index: 1002;
        transform: translateX(-50%);
      }

      #Upload_box #preview_wrapper #closeX_1{
        position: absolute;
        top:0;
        right:0px;
        width: 30px;
        height: 30px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 28px;
        color: white;
        background: black;
        cursor: pointer;
        
      }
       
        #Upload_box #preview_wrapper{
          width: 100%;
          height: 200px;
          position: absolute;
        }
        #preview{
          width: auto;
          max-width: 100%;
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
        }
        #Upload_box #Upload_options{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top:200px;
          bottom: 49px;
          left:0;
          right: 0;
          box-sizing: border-box;
        }
        #Upload_box #Upload_options div{
          padding: 0;
          border: 5px solid #05F;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          height: 45px;
          position: relative;
        }
        #Upload_box input[type=text]{
          float: left;
          flex:3;
          border:none;
          text-decoration: none;
          z-index: 2;
        }
        #Upload_box label{
          flex:1;
          position: relative;
          float: right;
          border-left: solid 5px brown;
          background: bisque;
          font-size: 16px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        #Upload_box input[type=file]{
          position:absolute;
          opacity: 0;
          font-size: 16px;
          right:0;
          cursor: pointer;
        }
        
        #upload_complete{
            position: absolute;
            bottom:10px;
            height: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
        }


        #upload{
          position: absolute;
          right: 0;
          bottom: 10%;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          cursor: pointer;

        }

        #upload_progress{
          width:0;
          background: lightblue;
          text-align: right;
        }
        #upload_progress_cover{
          width:100%;
          height:100%;
          background: white;
          z-index: 2;
          position: absolute;
          left:0;
          visibility: visible;
        }


 

 
  #cover{
    position:absolute;
    width: 100%;
    background:black;
    opacity: 0.5;
    z-index:998;
    display: none;
  }
  #cover.show{
    display: block;
  }
  #cover1{
    position:absolute;
    width: 100%;
    background:black;
    opacity: 0.5;
    z-index:1001;
    display: none;
  }
  #cover1.show{
    display: block;
  }
  
  #settingbar{
    z-index:999;
    height: 100vh;
    width: 30vw;
    background: white;
    position: fixed;
    left: 0;
    transform: translateX(calc((-30vw)));
    transition: 0.5s;
  }
  
  #settingbar.show{
    transform: translateX(0);
  }
    #settingHeadline{
      color:white;
      font-weight: bold;
      font-size: 30px;
      margin: 0%;
      height: 10%;
      background: black;
    }
    #closeX{
      position: absolute;
      top:0;
      right:0px;
      width: 30px;
      height: 30px;
      border: 1px solid white;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 28px;
      color: white;
      background: black;
      cursor: pointer;
      
    }
    #settingBody{
      position: relative;
      font-weight: bold;
      font-size: 20px;
      margin: 0%;
      height: 90%;
      background: white;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .settingOptions{
      width: 100%;
      height: 8%;
      font-size: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 1px solid black;
      position: relative;
      
    }
    #logout{
      width: 100%;
      height: 8%;
      font-size: 25px;
      display: flex;
      justify-content: center;
      font-weight: bold;
      color:red;
      cursor: pointer;
      border: 1px solid black;
      position: absolute;
      bottom: 0;

    }
    .settingOptions:hover{
      background: #E1E1E1;
    }
  
  #headline{
    padding: 0%;
    margin:0;
    background: black;
    height: 80px;
    width: 100%;
    top:0;
    left: 0;
    position: fixed;
    z-index: 2;
  }
    #setting{
        display: none;
        position:fixed;
        right: 25px;
        top: 0px;
        height:69px;
        width:69px;
        background:white;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 997;
    }
    #headline #logo{
      position: absolute;
      left: 10px;
      top:0px;
      height:100%;
      font-family: 'Brush Script MT', cursive;
      font-size: 50px;
      width: fit-content;
      font-weight: bold;
      }
    

    #headline #search_box #search_container{
      position: absolute;
      left: 300px;
      height: 45px;
      width:350px ;
      top:50%;
      box-sizing: border-box;
      border-radius: 25px;
      transform: translateY(-50%);
      padding-left: 20px;
      color:white;
      font-size: 15px;
      padding: 0;
    }
    #headline #search_box #search_container #searchContent{
      height: 45px;
      width:350px ;
      background: rgb(179, 172, 172);
      box-sizing: border-box;
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 45px;
      color:white;
      font-size: 15px;
    }
    #headline #search_box #searchContent::placeholder{
      color:rgb(73, 73, 73);
    }

    #headline #search_box #search_container #searchIcon{
      height: 100%;
      position: absolute;
      top:0;
      right:10px;
      width: 30px;
      box-sizing: border-box;
      cursor: pointer;
    }
    
  #content_box{
    position: absolute;
    top:80px;
    bottom: 0;
    width: 100%;
  }
  #navbar{
    height:40px;
    width: 100%;
    background: black;
    color:white;
    display:flex;
    flex-direction:row;
    align-items: center;
    padding: 0%;
    margin: 0;
    position: relative;
  }

   .Options{
     margin: 0;
     padding: 0;
     text-decoration: none;
     color: white;
     flex:1;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     font-weight: bold;
   }
   .Options:hover{
      border: white solid 1px;
      cursor: pointer;
   }

  

  #total_content {
    position:absolute;
    width: 100%;
    height: calc(100% - 40px);

  }

  
  
  